/* <html>
<button class="button1">Button name</button> 
</html>
*/
.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1em;

  border: 3px solid black;
  border-radius: 8px;

  height: 40%;
  width: 85%;

  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 8);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;

  cursor: pointer;
  position: relative;

  z-index: 0;


}

.button1:before {
  content: "";
  background: linear-gradient(80deg, #FFFFFF, #a2a2a3, #fcfcfc );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 300em;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: button1 20s linear infinite;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
  border: none;

}

@keyframes button1 {
  0% {
    background-position: 50% 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 5%;
  }
}

.button1:after {
  z-index: -1;
  position: absolute;
  width: 70%;
  height: 70%;
  background: #14141360;
  left: 0;
  top: 0;
  border-radius: 10px;
  border: none;

}