
/* <html>
<button class="button2">Button name</button> 
</html>
*/
.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    color: #000000;
    border: 2px solid #000;

    background-color: #080808;
    color: #f8f6f6;
    text-shadow: 10px 10px 2px #979797;

    height: 45%;
    width: 95%;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;

    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button2:hover {
    background-color: #f8f6f6;
    color: black;
    border: none;



}